@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap');

body {
    background-color: #424242 !important;
}

.navbar, .footer {
  background-color: #2A2A2A !important;
}

.title {
  font-family: "Yuji Boku", serif;
}

.kimera {
  border-radius: 80px !important;
}

textarea, input {
  background-color: #424242 !important;
}

#follow {
  margin-bottom: 7px !important;
}

.color1 {
  color: #e4b15f !important;
}

.color2 {
  color: #74b8e3 !important;
}

.color3 {
  color: #c53e35 !important;
}